@font-face{
	src:url(../fonts/FGroteskDemi-Regular.otf);
	font-family: f_grotesk;
}

@font-face{
	src:url(../fonts/cigars-light-webfont.otf);
	font-family: cigars;
}

@font-face{
	src:url(../fonts/FGroteskThin-Regular.otf);
	font-family: f_grotesk_thin;
}

*
{
	transition: .2s;
}

body
{
	overflow-x: hidden;
	background: black;
	color: white;
	padding: 30px;
	padding-top: 0px;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

a
{
	text-decoration: none;
	color: white;
}

a:hover
{
	text-decoration: underline;
	color: #CD00FF;
}

p{
	font-family: f_grotesk;
	line-height: 140%;
	font-size: 11pt;

}

/*/////////////////////////////////
nav & footer css for the index page
/////////////////////////////////*/


#homeLogo{
	position: absolute;
	display: block;
	width: 21%;
	height: auto;
	top: 30px;
}

.index_landing
{
	height: 10vh;
}

.about_body
{
	padding-right: 20pt;
	flex: 3;
}

.about_title
{
	text-transform: uppercase;
	letter-spacing: 1.25px;
	flex: 1;
}

.project_landing_container
{
	position: absolute;
	top:0px;
	left: 30px;
	width: calc(100% - 60px);
}

.project_landing
{
	position: relative;
	padding-top:0;
/*	height: 100vh;*/
}

.footer_wrapper
{
	position: relative;
	top: 25px;
	left: 0;
	width: 100%;
	transition: all 0s;
}

.footer
{
	display: flex;
	transition: all 0s;
}

.col_footer
{
	flex: 1;
}

.col_footer_large
{
	flex: 2;
}

.col_double{
	display: flex;
}


.footer_up{
	padding-top: 45px;
	cursor: pointer;
}


@media only screen and (max-width: 1600px) {


}


@media only screen and (max-width: 1270px) {

	.landing_img_hero
	{
		height: calc(100vh - 150px);
	}
}

@media only screen and (max-width: 900px) {
	
	p{
		font-size: 10pt;
	}

	#homeLogo{
		position: relative;
		display: block;
		width: 21%;
		height: auto;
		top: 30px;
	}

	.footer
	{	
		display: block;
	}

	.footer_wrapper
	{
		top: 50px;
	}

	.col_footer
	{
	}

	.col_footer_large
	{
		flex: 2;
	}

}

@media only screen and (max-width: 720px) {

	p{
		font-size: 9pt;
	}

}